{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">
    <h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ blog.title | escape }}
    </h1>

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div
          class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          <h2>
            <a href="{{ article.url }}">
              {%- if article.image -%}
                <img src="{{ article.image | img_url: '300x300' }}" alt="">
              {%- endif -%}
              {{ article.title -}}
            </a>
          </h2>
          <div>公開日：{{ article.published_at | time_tag: '%Y/%m/%d' }}</div>

          <ul>
            {%- for tag in article.tags -%}
              <li>
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}
