<h1>{{ page_title }}</h1>
{% for article in blog.articles %}
  <h2>
    <a href="{{ article.url }}">
      {%- if article.image -%}
        <img src="{{ article.image | img_url: '300x300' }}" alt="">
      {%- endif -%}
      {{ article.title -}}
    </a>
  </h2>
  <span> 作成者： {{ article.author }} </span>
  <div>公開日：{{ article.published_at | time_tag: '%Y/%m/%d' }}</div>

  <ul>
    {%- for tag in article.tags -%}
      <li>
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
      </li>
    {%- endfor -%}
  </ul>
{% endfor %}
