<h1>{{ page_title }}</h1>
{% for article in blog.articles %}
  <h2>
    <a href="{{ article.url }}">
      {%- if article.image -%}
        <img src="{{ article.image | img_url: '300x300' }}" alt="">
      {%- endif -%}
      {{ article.title -}}
    </a>
  </h2>
  <span> By {{ article.author }} </span>
  <div>公開日：{{ article.published_at | time_tag: format: 'date' }}</div>
  <div>
    タグ：
    {%- for tag in article.tags -%}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
      {%- unless forloop.last %}, {% endunless %}
    {%- endfor -%}
  </div>
{% endfor %}
