<div>
  <h1>
    {{ blog.title | escape }}
  </h1>
  <ul>
    {%- for article in blog.articles -%}
      <li>
        <a href="{{ article.url }}">
          {%- if article.image -%}
            <img src="{{ article.image | img_url: '300x300' }}" alt="">
          {%- endif -%}
          {{ article.title -}}
          <p>公開日：{{ article.published_at | time_tag: '%Y/%m/%d' }}</p>
        </a>
        <div>
          タグ：
          <ul>
            {%- for tag in article.tags -%}
              <li>
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </li>
    {%- endfor -%}
  </ul>
</div>
