{{ customer.values }}
{% liquid
  # ログイン状態
  if customer
    assign is_login = true
  else
    assign is_login = false
    # ログインしていなかった場合ログインページにリダイレクトするtemplate
    if template contains 'customers'
      assign is_redirect_login = true
    else
      assign is_redirect_login = false
    endif
  endif
%}
<script>
  console.log('customer.value',{{ customer.values | json }});
</script>

{% comment %} リダイレクト処理 {% endcomment %}
{% if is_redirect_login and request.path != '/challenge' %}
  <meta content="0; url=/account/login?checkout_url=/" http-equiv="refresh">
{% endif %}

<div class="flex-center h-[5rem] bg-black text-[1.6rem] text-white">
  <ul class="container flex space-x-[2rem]">
    {% if is_login %}
      <li>
        <a href="{{routes.account_url}}">マイページ</a>
      </li>
      <li>
        <a href="{{routes.account_addresses_url}}">会員情報の変更</a>
      </li>
      <li>
        <a href="{{routes.account_logout_url}}">ログアウト</a>
      </li>
      <li>
        <a href="{{routes.account_addresses_url}}">退会</a>
      </li>
    {% else %}
      <li>
        <a href="{{routes.account_login_url}}">ログイン</a>
      </li>
      <li>
        <a href="{{routes.account_register_url}}">新規会員登録</a>
      </li>
    {% endif %}
  </ul>
</div>
<div class="flex-center h-[5rem] bg-gray text-[1.6rem] text-white">
  <ul class="container flex space-x-[2rem]">
    <li><a href="/pages/movies">上映一覧</a></li>
    <li><a href="/pages/commingsoon">近日公開一覧</a></li>
    <li><a href="/pages/oneshotcinema">ワンショットシネマ</a></li>
    <li><a href="/pages/schedule">スケジュール</a></li>
    <li><a href="">コラム</a></li>
  </ul>
</div>
{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titlte",
      "default": "Welcome to our title"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "welcome",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Welcome to our store",
          "label": "Heading"
        }
      ]
    },
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
