<ul class="flex">
  {% for movie in shop.metaobjects.movies.values %}
    {% assign today_ = 'today' | date: '%Y-%m-%d' | date: '%s' %}
    {% assign release_date_ = movie.release_date | date: '%Y-%m-%d' | date: '%s' %}
    {% capture list_item %}
      <li>
        {{ movie.title }}
        <img loading="lazy" width="100" height="100" src="{{ movie.thumbnail | file_url }}" alt="{{movie.title}}">
        <a href="/pages/movie/{{ movie.system.handle }}">詳細ページ</a>
      </li>
    {% endcapture %}
    {% if section.settings.prev_status == '0' and today_ >= release_date_ %}
      {{ list_item }}
    {% elsif section.settings.prev_status == '1' and today_ < release_date_ %}
      {{ list_item }}
    {% elsif section.settings.prev_status == '2' and today_ < release_date_ and movie.is_one_shot_cinema %}
      {{ list_item }}
    {% endif %}
  {% endfor %}
</ul>

{% assign is_show_end_of_screening = shop.metaobjects.movies.values | map: 'is_end_of_screening' %}

{% if section.settings.is_end_of_screening and is_show_end_of_screening %}
  <h3 class="text-[3rem]">まもなく上映終了</h3>
  <ul class="mt-[3rem] flex">
    {% for movie in shop.metaobjects.movies.values %}
      {% assign today_ = 'today' | date: '%Y-%m-%d' | date: '%s' %}
      {% if today_ <= release_date_ and movie.is_end_of_screening %}
        <li>
          {{ movie.title }}
          <img loading="lazy" width="100" height="100" src="{{ movie.thumbnail | file_url }}" alt="{{movie.title}}">
          <a href="/pages/movie/{{ movie.system.handle }}">詳細ページ</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% schema %}
{
  "name": "movies-list",
  "settings": [
    {
      "type": "radio",
      "id": "prev_status",
      "label": "上映一覧ステータス",
      "options": [
        {
          "value": "0",
          "label": "上映作品"
        },
        {
          "value": "1",
          "label": "近日公開作品"
        },
        {
          "value": "2",
          "label": "ONE SHOT CINEMA"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "is_end_of_screening",
      "label": "まもなく上映終了"
    }
  ]
}
{% endschema %}
