{% liquid
  # 映画詳細のメタオブジェクト
  assign movie_handle = request.path | split: '/' | last
  assign movie = shop.metaobjects.movies[movie_handle]

  # ジャンルの配列の生成
  assign genre = movie.genre.value
  assign genreArray = ''
  if genre.children
    assign genreArray = genreArray | append: genre.name | append: ','
    if genre.children.value.children
      assign genreArray = genreArray | append: genre.children.value.name | append: ','
      if genre.children.value.children
        assign genreArray = genreArray | append: genre.children.value.children.value.name | append: ','
      endif
    else
      assign genreArray = genreArray | append: genre.children.value.name | append: ','
    endif
  else
    assign genreArray = genreArray | append: genre.name | append: ','
  endif
  assign genreArray = genreArray | split: ',' | reverse
%}

<div class="flex space-x-[1rem]">
  {% for item in genreArray %}
    <p class="after:content-['>'] last:after:content-['']">{{ item }}</p>
  {% endfor %}
</div>

<div class="mt-[3rem]">
  <p>{{ movie.title }}</p>
  <p>{{ movie.country_of_production }}</p>
  <p>{{ movie.dcp_file_name }}</p>
  <p>
    {% assign date = movie.release_date | date: '%-m月%-d日%a' %}
    {% render 'function.convert-date', target_: date %}
  </p>
  <p>
    {% assign date = movie.publication_end_date | date: '%-m月%-d日%a' %}
    {% render 'function.convert-date', target_: date %}
  </p>
  <p>
    {% if movie.with_dubbing_subtitles %}当館では全回字幕上映です{% endif %}
  </p>
  <p>{{ movie.original_title }}</p>
  <p>{{ movie.lens }}</p>
  <p>{{ movie.country_of_production }}</p>
  <img loading="lazy" width="100" height="100" src="{{ movie.thumbnail }}" alt="{{movie.title}}">
  <p>{{ movie.rate }}</p>
  <p>{{ movie.length }}</p>
  <p>{{ movie.director }}</p>
  {% for star in movie.stars.value %}
    <p>{{ star }}</p>
  {% endfor %}
  <a href="{{ movie.home_page }}">公式HP</a>
  {% for child in movie.description.value.children %}
    {% if child.type == 'heading' %}
      <h{{ child.level }}>{{ child.children[0].value }}</h{{ child.level }}>
    {% elsif child.type == 'paragraph' %}
      <p>{{ child.children[0].value }}</p>
    {% endif %}
  {% endfor %}
</div>
